//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 10 13:51:23 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Q1" LOCATE = SITE "P6" LEVEL 1;
COMP "Q2" LOCATE = SITE "P7" LEVEL 1;
COMP "R" LOCATE = SITE "L3" LEVEL 1;
COMP "S" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

