//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 12 14:01:03 2017
//! **************************************************************************

SCHEMATIC START;
COMP "NUHM_INPUT<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "NUHM_INPUT<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "NUHM_INPUT<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "NUHM_INPUT<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "NUHM_INPUT<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "NUHM_INPUT<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "NUHM_INPUT<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "NUHM_INPUT<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "RESULT<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "RESULT<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "RESULT<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "RESULT<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "RESULT<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "RESULT<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "RESULT<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "RESULT<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "A" LOCATE = SITE "A7" LEVEL 1;
COMP "B" LOCATE = SITE "M4" LEVEL 1;
COMP "ADD_SUB" LOCATE = SITE "G12" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

