//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 14 13:08:04 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Q0" LOCATE = SITE "M5" LEVEL 1;
COMP "CL" LOCATE = SITE "M4" LEVEL 1;
COMP "Q1" LOCATE = SITE "M11" LEVEL 1;
COMP "T0" LOCATE = SITE "N5" LEVEL 1;
COMP "T1" LOCATE = SITE "N4" LEVEL 1;
COMP "T2" LOCATE = SITE "P4" LEVEL 1;
COMP "T3" LOCATE = SITE "G1" LEVEL 1;
COMP "EYE" LOCATE = SITE "G12" LEVEL 1;
COMP "OP" LOCATE = SITE "A7" LEVEL 1;
COMP "SYS_CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "SLOW_CLK" LOCATE = SITE "C8" LEVEL 1;
NET "SYS_CLK_BUFGP/IBUFG" BEL "SYS_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "SLOW_CLK_BUFGP/IBUFG" BEL "SLOW_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

