//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 19 15:58:12 2017
//! **************************************************************************

SCHEMATIC START;
COMP "XLXN_2" LOCATE = SITE "M5" LEVEL 1;
COMP "XLXN_3" LOCATE = SITE "M11" LEVEL 1;
COMP "XLXN_4" LOCATE = SITE "P7" LEVEL 1;
COMP "A0" LOCATE = SITE "P11" LEVEL 1;
COMP "A1" LOCATE = SITE "L3" LEVEL 1;
COMP "B0" LOCATE = SITE "K3" LEVEL 1;
COMP "B1" LOCATE = SITE "B4" LEVEL 1;
SCHEMATIC END;

